*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
}

body{
    background-color: #000d00;
    color: #fff;
}

header{
   padding: 10px;
   border-bottom: 0.1px solid #fff;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin-left: 12px;
}

a{
    text-decoration: none;
    color: #fff;
}

section{
    margin-top: 3em;
}

.boasVindas{
    display: flex;
}

.boasVindas div {
    margin-left: 15px;
}


.sobre{
    background-color: #0c2909;
}

#gameBoard{
    display: none;
    margin: 0 auto;
    width: 1200px;
    height: 550px;
}

.play{
    position: absolute;
    left: 50px;
    z-index: 2;

    background-color: aquamarine;
}