:root{
    --corFundo:#000d00;
    --corDestaque: #a6b88f;
    --cor1:#24611a;
    --cor2:#184512;
    --cor3:#0c2909;
    --cor4:#efffdd;
    --fontePixel: "Jacquard 12",system-ui;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
}

body{
    color: var(--corFundo);
}

h2{
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 2rem;
}

main{
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1{
    position: relative;
    display: block;
    font-size: 8rem;
    font-family: roboto, sans-serif;
    font-weight: 900;
    font-style: italic;
}

main h1 span{
    display: inline;
}

main p{
    margin-top: 4.5%;
    float: right;
    width: 35vw;
 
}

main h1 span::before{
    content: '';
    color: var(--cor1);
    animation: tituloH1 4s ease infinite;
}

main h1 span::after{
    content: '.';
    border-left: var(--cor1) ;
    animation: ponto 1s infinite;
    width: calc(100% + 30pxpx);
    opacity: 0;
}

@keyframes ponto {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes tituloH1 {
    0%, 8% {
        content: 'senvo';
      }
      26%, 45% {
        content: 'senvolvedor';
      }
      47%, 60% {
        content: 'senvolvedor Web';
      }
      61%, 80% {
        content: 'senvolvedor Web Full';
      }
      81%, 100% {
        content: 'senvolvedor Web FullStack';
    }
}

header{
   padding: 11px;
   background-color: var(--cor3);
   color: var(--cor4);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
}

li{
    margin-left: 10px;
}

a{
    color: var(--cor4);
    text-decoration: none;
}

header ul li a{
    font-size: 1.3rem;
    padding: 0 2px 0 2px;
}

header ul li a:hover{
    border-bottom: solid 6px var(--cor1);
    background-color: var(--corDestaque);
    color: var(--corFundo);
    padding: 16px 2px 16px 2px;
}

section{
    padding: 3rem;
}

button{
    margin-top: 1rem;
    padding: 8px;
    background-color: var(--cor2);
    color: var(--cor4);
    width: 25%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: var(--corDestaque);
    color: var(--corFundo);
}

#sobre{
    background-color: var(--cor4);
    display: flex;
    font-size: 1.2rem;
}

#sobre .container{
    display: flex;
    padding: 0 8rem 0 8rem;
    align-items: center;
}

.img-sobre{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 3.5rem;
}

#sobre .container div{
    max-width: 70%;
    ;text-align: justify;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#projetos{
    text-align: center;
    background-color: var(--corDestaque);
}

.card-projeto img{
    width: 200px;
    height: 300px;
}

#projetos p{
    font-size: 1.2rem;
}

.cards{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

#portJogo .container{
    box-sizing: border-box;
    position: relative;
    text-align: center;
}


#gameBoard{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.play{
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: aqua;
    top: 50%;
    left: calc(55% - 200px);
    border-radius: 8px;
    border: solid 0.8px black;
}

#contato{
    padding: 2rem;
    background-color: var(--corDestaque);
    text-align: center;
}

#contato .container div{
    display: flex;
    justify-content: space-between;
}

.links{
    margin-top: 3rem;
}

.link i{
    font-size: 3rem;
    color: var(--cor3);
}

.links p{
    color: var(--cor3);
    font-weight: bold;
    font-size: 1.2rem;
}

.links small{
    color: var(--cor2);
}


footer{
    background-color: var(--cor3);
    padding: 1.4rem;
}

footer p{
    color: var(--cor4);
}